{% extends 'base.html' %}
{% load static %}
{% block title %}درباره ما{% endblock %}
{% block content %}
<main class="p-3">
	<!--  Info  -->
	<section class="container-fluid container-md border p-4 rounded-3">
        <h2 class="fw-bold">درباره ما</h2>
    	<!--  Explanations  -->
        <p class="mt-3 p-1 text-justify">
			به نام خدا. دوست من سلام! <br>
			ما ( علی نظری و علی سرابی ) به این فکر افتادیم که این سایتو دایر کنیم تا بر و بچه های این مدارس یا بقیه مدارس تو ریاضی راحت راحت بشن. چه جوری ؟ <br>
			خیلی راحت ، کافیه تو سایت ما عضو بشی و بعدش دیگه نگران درس و سوالاتت نباشی ... <br>
			چون با مقالات و درسنامه های سایت بروز ترین مطالب ریاضی رو به راحتی با فیلم و عکس و به روشهای مختلف یاد می گیری و در قسمت پرسش و پاسخ سایت هر سوالی که داشتی می پرسی و حتی با ماشین حساب سایت عملیات های سخت ریاضی ( مثل توان و رادیکال یا حتی نسبت های مثلثاتی و ... ) رو به راحتی آب خوردن انجام میدی. <br>
			سایت ما رایگان و قابل استفاده همگانه و شما فقط برای ارسال نظر و جواب دادن به پرسش ها لازمه وارد سیستم بشید.<hr>
			<!--  Statute for User  -->
			<h4 class="mb-3 fw-bold">قوانین سایت :</h4>
			<ul class="list-unstyled p-2">
				<li class="mb-1 text-justify">✮ کاربران سایت حق ویرایش اطلاعات کاربری خود را دارند ولی نظرات و پاسخ های غیر قابل حذف است.</li>
				<li class="mb-1 text-justify">✮ دیده شدن هر تخلف و بی بند و باری در این سایت که مغایر با اصول نظام جمهوری اسلامی ایران باشد جرم سایبری محسوب شده و متخلفان تحت پیگرد قانونی قرار گرفته و از سایت برای همیشه حذف می شوند.</li>
				<li class="mb-1 text-justify">✮ ارسال هر گونه مطلب غیر اخلاقی یا نظرات و جواب ها و مقالات بیجا باعث حذف کاربر از سایت می شود.</li>
				<li class="mb-1 text-justify">✮ عضویت و ایجاد حساب کاربری در سایت لذت ریاضی رایگان می‌باشد. ثبت‌نام در سایت و تکمیل فرم عضویت که در آن اطلاعاتی نظیر نام و نام خانوادگی و ایمیل به‌ منزله آگاهی و پذیرش کامل قوانین و مقررات سایت لذت ریاضی می‌باشد.</li>
				<li class="mb-1 text-justify">✮ اطلاعات وارد شده شما بر اساس حقوق کاربری محفوظ و هرگز استفاده شخصی نمی شوند.مدیران لذت ریاضی تمام تلاش خود را در جهت حفظ اطلاعات کاربران انجام می‌دهد و سعی می‌کند از امکانات و زیرساخت‌های لازم برای این مقصود استفاده نماید.</li>
				<li class="mb-1 text-justify">✮ در صورت وجود هر گونه مشکل از طریق بخش ارتباط با ما ، مطلب خود را با ما در میان بگذارید.</li>
				<li class="mb-1 text-justify">✮ ما تمام تلاش خودمان را میکنیم تا آموزش‌ها و خدمات باکیفیت به کاربران ارائه دهیم و پذیرای پیشنهادات و انتقادات شما هستیم!</li>
				<li class="mb-1 text-justify">✮ تمام محتوای سایت لذت ریاضی مانند محتوای مقالات، آموزش ها، لوگو، تصاویر، صوت‌ها، ویدیوها و … متعلق به سایت لذت ریاضی می‌باشد و بدون موافقت و اجازه مدیر سایت، هیچ‌کس اجازه استفاده، کپی، بازآفرینی و یا هرگونه اقدام خلاف قانون دیگری را نسبت به هر یک از موارد ذکرشده و امثال آن ندارد.</li>
				<li class="mb-1 text-justify">✮ شایان ذکر است اگر محتوای سایت از منبع داخلی یا خارجی دیگری اخذشده باشد به آن منبع ارجاع داده ‌شده است.</li>
				<li class="mb-1 text-justify">✮ کاربر نباید در سایت ( تالار گفت‌وگو و یا هر قسمت دیگر) اظهاراتی (Comment) را بگذارد و‌ یا اقدامی نماید که مبین نقض حقوق اشخاص دیگر باشد و یا عمل مجرمانه‌ای را به دنبال داشته باشد.کاربر از سایت اخراج شده و حساب کاربری وی را حذف میشود.</li>
				<li class="mb-1 text-justify">✮ همچنین کاربران نباید در خصوص امور مذهبی و سیاسی در این سایت اظهار نظر کنند. چنانچه هر یک از کاربران این ماده را رعایت نکنند، بلافاصله از سایت اخراج شده. همچنین کاربر (عضو) حق استفاده از این سایت را از دست می‌دهد.</li>
				<li class="mb-1 text-justify">✮ درصورتی‌که کاربری قصد انجام تبلیغات در سایت مدیر سایت را داشته باشد باید موضوع را از طریق راه‌های ارتباطی با شرکت مدیر سایت در میان بگذارد.</li>
			</ul><hr>
			<!--  Contact With Us  -->
			<h6 class="mb-3">راه های ارتباطی ما :</h6>
			<nav class="d-block text-center">
				<a href="https://splus.ir/mathematical_pl" class="me-1" title="پشتیبانی سروش"><img src="{% static 'images/Soroush.png' %}" alt="Soroush" class="image-small"></a>
				<a href="https://www.aparat.com/mathematical.pl" class="me-1" title="پشتیبانی آپارات"><img src="{% static 'images/Aparat.png' %}" alt="Aparat" class="image-small"></a>
				<a href="https://join.skype.com/invite/iQbF43mZTeX0" class="me-1" title="پشتیبانی اسکایپ"><img src="{% static 'images/Skype.png' %}" alt="Skype" class="image-small"></a>
				<a href="mailto:mathematical.pleasure@gmail.com" class="me-1" title="پشتیبانی ایمیل"><img src="{% static 'images/Email.png' %}" alt="Email" class="image-small"></a>
			</nav>
        </p>
	</section>
</main>
{% endblock %}